@import 
url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color:skyblue;
    width:100%;
    position: fixed;
    z-index:999;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 200px;
    
}

.logo{
    text-decoration: none;
    color:whitesmoke;
    font-weight: 700;
    font-size: 2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}
.navigation a{
    text-decoration: none;
    color:whitesmoke;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:500;
    font-size:1.1em;
    padding-left: 30px;

}
 
.navigation a:hover{
    color:steelblue;
}

section{
    padding:100px 200px;
    
}
.main{
    width:100%;
    min-height:100vh ;
    display: flex;
    align-items: center;
    background: url(playboi\ cartii.png) no-repeat;
    background-size:cover;
    background-attachment:fixed;
    background-position:  left center;
}

.main h2 {
    color:whitesmoke;
    font-size:1.4em;
    font-weight:500;
}
.main h2 span{
    color:skyblue;
    display:inline-block;
    margin-top:10px;
    font-size:3em;
    font-weight:600;
}
.main h3{
    color:whitesmoke;
    font-size:2em;
    font-weight:700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;

}
.main-btn{
    text-decoration: none;
    color:whitesmoke;
    background-color:skyblue ;
    font-size:1.1em;
    font-weight:600;
    padding: 20px;
    display:inline-block;
    padding:0.98375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 20px;
    margin-bottom:40px ;
    transition:0.7s ease;
}

.main-btn:hover{
    background-color:steelblue;
    transform: scale(1.1);
}

.social-icons a {
    color:whitesmoke;
    font-size: 1.7em;
    padding-right: 30px;
   
}

.title {
    display:flex;
    justify-content: center;
    color:steelblue;
    font-size: 2.2em;
    font-weight:800;;
    margin-bottom: 30px;

}
.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
   
   
    

}
.card{
    background-color:whitesmoke;
    width: 20em;
    box-shadow: 0px 10px 25px rgba(1 1 1 / 15%);
    border-radius: 25px;
    padding:25px;
    margin:15px;
    transition:0.7s ease;
    
}

.card:hover{
    transform:scale(1.1)
}

.icon{
    color:steelblue;
    font-size:8em;
    text-align:center;

}
.info{
    text-align:center;
}
.info h3{
    color:skyblue;
    font-size: 1.2em;
    font-weight: 700;
    margin:10px;

}

.projects {
    background-color: black;
}

.projects-card{
    background-color: skyblue;
    border: 4px solid skyblue;
    min-height: 14em;
    width:18em;
    overflow:hidden;
    border-radius:25px ;
    margin: 20px;
    transition: 0.7s ease;

}

.projects-card:hover{
    transform:scale(1.1);
}

.projects-card:hover .projects-image{
    opacity: 0.9;
}

.projects-image img{
    width:100%
}
.project-category{
    font-size:0.8em;
    color:#000;
    padding: 10px;
}

.project-title{
    display:flex;
    justify-content:space-between;
    text-transform:uppercase;
    font-weight:800;
    margin-top:10px;
    padding: 10px;
}

.more-details{
    text-decoration: none;
    color:steelblue;
}

.more-details:hover {
    color:slateblue;
}


.contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
    .title-contact{
    display: flex;
    justify-content: center;
    color:steelblue;
    font-size:2.2em;
    font-weight:800;
    margin-bottom:30px;
    margin-top: 30px;
}

.card-contact{
    background-color:whitesmoke;
    width: 20em;
    box-shadow: 0px 10px 25px rgba(1 1 1 / 15%);
    border-radius: 25px;
    padding:25px;
    margin:50px;
    transition:0.7s ease;
    
}
.card-contact:hover {
    transform:scale(1.1);
}
.contact .icon{
    font-size: 5em;
    
}
.contact .info p{
    font-weight: 650;
    

}

.footer {
    background-color: #000;
    color: whitesmoke;
    padding:2em;
    display:flex;
    justify-content: space-between;

}

.footer-title{
    font-size:1.4em;
    font-weight: 600;
}
.footer-title span{
    color: steelblue;
}

.footer .social-icons a{
    font-size:1.4em;
    
}

@media(max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        font-size:1.5em;

    }

    section {
        font-size: 30px;
        padding: 50px 50px;
    }

    .content{
        flex-direction:column;
        align-items: center;
    }
  

}